#mainbody
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    direction: rtl;
    background-color:f2daf3;
   
}
#ClientUpdateMenu /*clients popup menu look*/
{
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 0;
    list-style: none;
    text-align: center;
}

.yellowButton {
    font-size:20px;
    font-family:Arial;
    width:200px;
    height:50px;
    border-width:1px;
    color:#333333;
    border-color:#ffaa22;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow: 0px 1px 0px 0px #fff6af;
    text-shadow: 0px 1px 0px #ffee66;
    background:linear-gradient(#ffec64, #ffab23);
    cursor: pointer;
}

#ClientUpdateBody /*clients popup menu body look*/
{
    font-size:20px;
    font-family:Arial;
    width:100%;
    height: 100%;
    border-width:1px;
    color: black;
    border-color: gray;
    font-weight: bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow: 0px 1px 0px 0px black;
    text-shadow: 0px 1px 0px white ;
    background: white;
    text-align: center;

}
#list /* list look*/
{
    font-size:20px;
    font-family:Arial;
    width:100%;
    height: 100%;
    border-width:1px;
    color: black;
    border-color: gray;
    font-weight: bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow: 0px 1px 0px 0px black;
    text-shadow: 0px 1px 0px white ;
    background: white;
    text-align: center;
}
#key /*hide the data base key from the user*/
{
    display: none;
}
#keytext /*hide the data base key from the user*/
{
    display: none;
}
#top
{
    position: sticky; 
    top: 0cm; 
    font-size:20px;
    font-family: Arial;
    height:30px;
    border-width:1px;
    color: White;
    border-color: gray;
    font-weight: bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow: 0px 1px 0px 0px black;
    text-shadow: 0px 1px 0px white ;
    background:linear-gradient(rgb(0, 0, 0), rgb(122, 122, 122) );
    
    
}



/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* Styles for the modal */
.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    height: 400px; /* Adjust height as needed */
    width: 300px; /* Adjust width as needed */
}

/* Styles for the close button */
.close-btn {
    cursor: pointer;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #bd1c1c; /* Set the color to your preference */
}

#UpdateClientHead {
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 0;
    list-style: none;
    text-align: center;
}

/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* Styles for the modal */
.modal {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    height: 600px; /* Adjust height as needed */
    width: 415px; /* Adjust width as needed */
}

/* Styles for the close button */
.close-btn {
    cursor: pointer;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #bd1c1c; /* Set the color to your preference */
}

#UpdateClientHead {
    width: 400px;
    height: 20px;
    background-color: #eee;
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size:20px;
    font-family:Arial;
}

.modal-body {
    width: 400px;
    height: 450px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #ddd;
    direction: rtl;
    text-align: right;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size:20px;
    font-family:Arial;
}

/* Styles for the buttons */
.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn {
    width: 45%; /* Adjust width as needed */
}

#DeleteClientButton {
    font-size:20px;
    font-family:Arial;
    width:205px;
    height:30px;
    border-width:1px;
    color: White;
    border-color: gray;
    font-weight: bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow: 0px 1px 0px 0px black;
    text-shadow: 0px 1px 0px white ;
    background:linear-gradient(red, rgb(118, 2, 2) );
    cursor: pointer;
}

#SaveChangesButton {
    font-size:20px;
    font-family:Arial;
    width:205px;
    height:30px;
    border-width:1px;
    color: White;
    border-color: gray;
    font-weight: bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow: 0px 1px 0px 0px black;
    text-shadow: 0px 1px 0px white ;
    background:linear-gradient(blue, rgb(5, 5, 102));
    cursor: pointer;
}
